<header>
  <hr>
  <nav>
    <a href="#"><i class="fa fa-line-chart fa-4x" aria-hidden="true"></i></a>

    <ul>
      <li class="btn"><a href="#">Quem somos</a><span></span></li>
      <li class="btn"><a href="#">Onde estamos</a><span></span></li>
      <li class="btn"><a href="#">Fale conosco</a><span></span></li>
    </ul>
    <a href="#" class="btn1 btn-danger btn"><i class="fa fa-user" aria-hidden="true"></i> &nbsp Portal do cliente</a>
  </nav>
</header>
<section class="hero red-text section">
  <div class="">
    <h1>Missão</h1>
  </div>

  <div class="imgs">
    <img src="https://www.consorciomotoshonda.com.br/image/cache/catalog/XRE_190_Preto_lat_D-500x500.png" alt="" width="350px" />
   </div>

</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="http://www.audaxbike.com/media/uploads/arquivos/2015/08/LOGO_AUDAX_HORIZONTAL_1-01.png" alt="" width="280px" />
      </div>
      <div class="col-md-4">
        <img src="http://rdamasio.com/mercadolivre/marcas/DANNIXX.jpg" alt="" width="280px" />
      </div>
      <div class="col-md-4">
        <img src="https://www.akrapovic.com/src/app/content/company/images/akrapovic-logo-horizontal.png" alt="" width="280px" />
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <img src="http://www.brembo.com/en/PublishingImages/company/il-gruppo/i-marchi-del-gruppo/brembo%20520x240.jpg" alt="" width="280px" />
      </div>
      <div class="col-md-4">
        <img src="http://homamotos.com.br/loja/Assets/102906/dept_images/protork.jpg" alt="" width="280px" />
      </div>
      <div class="col-md-4">
        <img src="https://images.tcdn.com.br/img/editor/up/340177/roncar_logo.jpg" alt="" width="280px" />
      </div>
    </div>

  </div>
</section>
<section>
  <div class="middle">
  <h3>Onde estamos</h3>
  </div>
</section>
